<div data-action="click->dialog#backdropClose" >
  <dialog id="videoModal"   class="bg-[var(--bg-card-dark)] p-8 rounded-2xl w-[80%] max-w-[400px] text-white absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">
 <iframe width="560" height="315" src="https://www.youtube.com/embed/6VJHbKDpoOc?si=_u3awrQmk1QPyBwZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </dialog>
</div>
