<div data-action="click->dialog#backdropClose">
  <dialog data-dialog-target="dialog" data-dialog-open-value="true">
    <p>
      <%= team %>
    </p>

    <p>
      <%= price %>
    </p>

    <p>
      <%= odd_id %>
    </p>

    <button type="button" data-action="dialog#close" autofocus>Cancel</button>
  </dialog>


</div>
