<div class="">
  <dialog id='friendModal' class="bg-[var(--bg-card-dark)] p-8 rounded-2xl w-[80%] max-w-[400px] text-white absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">
   <div class="flex flex-col gap-4 ">
     <ul class="flex gap-4 justify-center bg-[var(--bg-card)]  rounded-t-lg">
      <li class="text-center p-4 cursor-pointer bg-[var(--ezb-red)] ">Ami</li>
      <li class="text-center p-4 cursor-pointer bg-[var(--bg-card)]">Ajouter des amis</li>
    </ul>
    <div class="">
      <p class="text-center">Vous n'avez pas encore d'amis.</p>
    </div>
    <button id="closeModalFriend" class="rounded-lg bg-[var(--bg-card)] p-3 text-center w-full cursor-pointer">Fermer</button>
   </div>
  </dialog>
</div>
