<%# pour chaque competition, on affiche en titre le title et tous ses events %>
 <%= render "filters/filters"   %>
<% @competitions.each do |competition| %>
  <div class="flex items-center border-l-3 border-rose-600 relative">
    <div class="absolute inset-0 bg-gradient-to-r from-rose-600 to-rose-800 opacity-30"></div>
    <h2 class="font-medium text-rose-600 relative z-10 p-4">
      <%= competition.title %>
    </h2>
  </div>

  <%= turbo_frame_tag "competition_events_#{competition.id}", src: competition_events_path(competition) do %>
    <p class="p-4 text-sm text-gray-400">Chargement des événements...</p>
  <% end %>


<% end %>



<%# <button id='labite' class="fixed bottom-[116px] left-1/2 transform -translate-x-1/2 w-[90%] bg-rose-600 rounded-lg text-white px-5 py-2.5 shadow-lg z-[1100] flex items-center gap-2 justify-center md:max-w-[50%]"  >
    image_tag "icons/camera.svg", class: "w-6 h-6"
  <p class='flex items-center justify-center text-[14px]'> Regarder une video (+250   )
  image_tag "icons/coin.svg", class: "w-6 h-6"
   - 20</p></button> %>
