<ul class="flex justify-around bg-blue-900 text-white px-5 py-2.5 rounded-lg items-center mb-4
           sticky top-[64px] z-50 ">
   <li>
    Classements
   </li>
    <li>Amis</li>
     <li>Divisions</li>
  </ul>
<ul class="container">
  <%# <h2>Classements</h2> %>


    <% User.all.each_with_index do |user, rank| %>
  <li class="bg-blue-900 mb-4 flex items-center justify-between px-4 py-4 rounded-lg border-l-[3px] border-cyan-400">  <!-- Add margin-bottom and padding here -->
    <p class="flex-1"><%= rank + 1 %></p> <!-- Flex-1 to evenly distribute and center text -->
    <p class="flex-1 "><%= user.first_name %></p>
    <p class="flex-1 text-right"><%= user.wallet.diamonds %></p>
  </li>
<% end %>


</ul>
