

  <ul class="flex justify-between items-center h-full">
    <% if user_signed_in? %>

    <li class='flex gap-2 items-center'>
      <div class="transform transition duration-300 hover:scale-110 h-10 w-10 bg-[var(--ezb-red)] rounded-full items-center justify-center flex font-bold">re</div>
     <div class="px-2 py-4 transition-colors duration-300 rounded-full hover:bg-[var(--blue-hover)]">
       <%= number_with_precision(current_user.wallet.diamonds, precision: 2) %>
      💎
     </div>

    </li>

    <li class='flex gap-2'>
      <div class="px-2 py-4 transition-colors duration-300 rounded-full hover:bg-[var(--blue-hover)]">
      +
      <%= current_user.wallet.coins %>
    🪙
     </div></li>

    <% else %>
    <li>
      <%= link_to 'Connexion', new_user_session_path, class: "text-white" %>
    </li>

    <li>
      <%= link_to 'Inscription', new_user_registration_path, class: "text-white" %>
    </li>
    <% end %>

  </ul>
