<li class="flex flex-col items-center justify-between flex-1 text-center px-2 gap-4" data-controller="dialog">


  <p class="rounded-full  h-[48px] w-[48px] flex items-center justify-center  text-sm
">
<% unless odd.name == 'Draw' %>
  <%= odd.name[0] %>
<% end %>
</p>

  <p class='text-center text-white line-clamp-2'><%= odd.name == "Draw" ? I18n.t("odds.draw") : odd.name %></p>
</li>
