<li class="flex flex-col gap-2" data-controller="dialog">
  <p class='text-center text-white'><%= odd.name == "Draw" ? I18n.t("odds.draw") : odd.name %></p>
  <button class="p-2.5 border text-white rounded-md transition-shadow duration-200
    <%= bet&.odd_id == odd.id ? 'bg-rose-600 border-rose-600' : 'bg-transparent border-white' %>
    hover:shadow-[0_0_8px_2px_rgba(255,255,255,0.6)] focus:shadow-[0_0_10px_3px_rgba(255,255,255,0.8)]">
    x <%= number_with_precision(odd.price, precision: 2) %>
  </button>
  <%= render "modal/modal", odd: odd %>
</li>
