<li class="flex flex-col items-center justify-between flex-1 text-center px-2 gap-4" data-controller="dialog">

  <p class="rounded-full  h-[48px] w-[48px] flex items-center justify-center  text-sm
">
  <%= odd.name[0] %>

</p>

  <p class='text-center text-white'><%= odd.name == "Draw" ? I18n.t("odds.draw") : odd.name %></p>


  <%= render "modal/modal", odd: odd %>
</li>
