<nav class="fixed bottom-0 left-0 w-full bg-blue-900 text-white  px-4 py-2 h-[100px] shadow-[0_-4px_4px_rgba(0,0,0,0.25)]  z-1000" data-controller="header--navbar">
  <ul id="menu-items" class="flex justify-around items-center">
    <li>
      <a href="/" class="flex flex-col items-center gap-2">
         <div class="">
            <img src="/icons/matches.svg" alt="Matches" class="w-6 h-6">
         </div>
     <p>Matches</p>
      </a>

    </li>
     <li>
      <a href="#" class="flex flex-col items-center gap-2">
         <div class=""></div>
     <p>Classements</p>
      </a>

    </li>
     <li>
      <a href="/profile" class="flex flex-col items-center gap-2">
         <div class=""></div>
     <p>Profil</p>
      </a>

    </li>

  </ul>
</nav>
