<nav class="py-5 "   data-controller="header--navbar">
  <ul id="menu-items" class="flex justify-between items-center px-4">
    <li class="transition-transform duration-200 hover:translate-y-[-2px] hover:text-[#e94560]
      <%= 'text-[#e94560] ' if current_page?(root_path) %>">
  <a href="/" class="flex flex-col items-center gap-2">
    <svg class="nav-icon transition-colors duration-200
      " width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" strokeWidth="2" strokeLinecap="round" strokeLinejoin="round">
      <circle cx="12" cy="12" r="10"/>
      <path d="M12 6v6l4 2"/>
      <path d="M5 12h2"/>
      <path d="M17 12h2"/>
      <path d="M12 2v2"/>
      <path d="M12 20v2"/>
    </svg>
    <p class="text-[0.75rem]">Matchs</p>
  </a>
</li>

     <li class="transition-transform duration-200 hover:translate-y-[-2px] hover:text-[#e94560]">
      <a href="/challenges" class="flex flex-col items-center gap-2">
         <svg class="nav-icon transition-colors duration-200" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" strokeWidth="2" strokeLinecap="round" strokeLinejoin="round">
            <path d="M19 5h-2V3H7v2H5c-1.1 0-2 .9-2 2v1c0 2.55 1.92 4.63 4.39 4.94A5.01 5.01 0 0011 15.9V19H7v2h10v-2h-4v-3.1a5.01 5.01 0 003.61-2.96C19.08 12.63 21 10.55 21 8V7c0-1.1-.9-2-2-2z"></path>
          </svg>

         <p class="text-[0.75rem]">Challenges</p>
    </a>

    </li>
     <li class="transition-transform duration-200 hover:translate-y-[-2px] hover:text-[#e94560]">
      <%= link_to ranking_path,class: "flex flex-col items-center gap-2"  do%>
        <svg class="nav-icon transition-colors duration-200" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" strokeWidth="2" strokeLinecap="round" strokeLinejoin="round">
            <path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path>
            <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
            <line x1="12" y1="22.08" x2="12" y2="12"></line>
          </svg>

          <p class="text-[0.75rem]">Airdrop</p>
      <% end %>

    </li>
     <li class="transition-transform duration-200 hover:translate-y-[-2px] hover:text-[#e94560]">
     <a href="/shop" class="flex flex-col items-center gap-2">
        <svg class="nav-icon transition-colors duration-200" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" strokeWidth="2" strokeLinecap="round" strokeLinejoin="round">
            <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
            <line x1="3" y1="6" x2="21" y2="6"></line>
            <path d="M16 10a4 4 0 0 1-8 0"></path>
          </svg>

          <p class="text-[0.75rem]">Shop</p>
    </a>


    </li>

     <li class="transition-transform duration-200 hover:translate-y-[-2px] hover:text-[#e94560]
     ">
      <%= link_to profile_path, class: "flex flex-col items-center gap-2" do %>
       <svg class="nav-icon transition-colors duration-200" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" strokeWidth="2" strokeLinecap="round" strokeLinejoin="round">
            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg>

          <p class="text-[0.75rem]">Profil</p>
      <% end %>
    </li>

  </ul>
</nav>
